@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 5, 5);
}

.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-container::after {
  content: "";
  width: 150%;
  height: 150%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: url(../public/images/WireFrameDesignRotated.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
@media only screen and (min-width: 1024px) {
  .hero-container::after {
    width: 160%;
    height: 160%;
    left: 55%;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-container::after {
    width: 140%;
    height: 140%;
    left: 65%;
  }
}
@media only screen and (min-width: 3440px) {
  .hero-container::after {
    width: 130%;
    height: 130%;
  }
}
@media only screen and (min-width: 3840px) {
  .hero-container::after {
    width: 140%;
    height: 140%;
    left: 65%;
  }
}

.hero-header {
  width: 100vw;
  height: 1rem;
  margin: 0 auto;
  position: relative;
  position: fixed;
  z-index: 95;
}
@media only screen and (min-width: 1280px) {
  .hero-header {
    height: 8rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
@media only screen and (min-width: 1920px) {
  .hero-header {
    height: 12rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-header {
    height: 16rem;
  }
}
.hero-header .hero-nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  background-color: rgba(26, 25, 25, 0.8980392157);
  transform: translateY(-100vh);
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
}
@media only screen and (min-width: 1280px) {
  .hero-header .hero-nav {
    background-color: transparent;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateY(0vh) translateX(-50%);
    -webkit-transform: translateY(0vh) translateX(-50%);
    -moz-transform: translateY(0vh) translateX(-50%);
    -ms-transform: translateY(0vh) translateX(-50%);
    -o-transform: translateY(0vh) translateX(-50%);
  }
}
.hero-header .hero-nav .hero-nav-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  .hero-header .hero-nav .hero-nav-ul {
    width: 120rem;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-header .hero-nav .hero-nav-ul {
    width: 160rem;
    padding-right: 0;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-header .hero-nav .hero-nav-ul {
    width: 200rem;
  }
}
.hero-header .hero-nav .hero-nav-li {
  list-style-type: none;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.hero-header .hero-nav .hero-nav-li:not(:last-child) {
  margin-bottom: 5rem;
}
@media only screen and (min-width: 768px) {
  .hero-header .hero-nav .hero-nav-li:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-header .hero-nav .hero-nav-li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-header .hero-nav .hero-nav-li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-header .hero-nav .hero-nav-li:not(:last-child) {
    margin-right: 8rem;
  }
}
.hero-header .hero-nav .hero-nav-li .hero-nav-links {
  width: 100%;
  height: 100%;
  padding: 1.5rem 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  border: 1px solid transparent;
}
@media only screen and (min-width: 1280px) {
  .hero-header .hero-nav .hero-nav-li .hero-nav-links {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-header .hero-nav .hero-nav-li .hero-nav-links {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 2560px) {
  .hero-header .hero-nav .hero-nav-li .hero-nav-links {
    font-size: 2rem;
    padding: 2rem 2.5rem;
  }
}
.hero-header .hero-nav .hero-nav-li .hero-nav-links:hover {
  border: 0.1rem solid rgb(255, 255, 255);
}
.hero-header .navBackground {
  background-color: rgba(5, 5, 5, 0.5803921569);
}
.hero-header .showNav {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.hero-burger {
  width: 6rem;
  height: 5rem;
  position: fixed;
  top: 2%;
  right: 5%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(255, 255, 255);
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .hero-burger {
    right: 3%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-burger {
    display: none;
  }
}
.hero-burger .hero-burger-box {
  width: 3.3rem;
  height: 100%;
  position: relative;
}
.hero-burger .hero-burger-box .top-line,
.hero-burger .hero-burger-box .bottom-line {
  height: 0.2rem;
  position: absolute;
  right: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.hero-burger .hero-burger-box .top-line {
  width: 1.7rem;
  top: 40%;
}
.hero-burger .hero-burger-box .bottom-line {
  width: 3.3rem;
  top: 60%;
}
.hero-burger .hero-burger-box .rotateTop {
  width: 3.3rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}
.hero-burger .hero-burger-box .rotateBottom {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.hero-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.hero-content-container .hero-content-info {
  width: 100%;
  max-width: 140rem;
  height: 50%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .hero-content-container .hero-content-info {
    height: 40%;
    margin-bottom: 12rem;
  }
}
.hero-content-container .hero-content-info .hero-content-info-names {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas Neue", cursive;
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-subtitle-mobile {
  width: 100%;
  padding: 0 2rem;
  font-size: 3rem;
  color: #262525;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 0.15rem #262525;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-content-container .hero-content-info .hero-content-info-names .hero-content-subtitle-mobile {
    text-align: center;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-content-container .hero-content-info .hero-content-info-names .hero-content-subtitle-mobile {
    display: none;
  }
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-title {
  width: 100%;
  padding-left: 2.5rem;
  text-align: left;
  font-size: 9rem;
  z-index: 2;
  text-shadow: 0.2rem 0.2rem 0.3rem #262525;
}
@media only screen and (min-width: 768px) {
  .hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-title {
    width: auto;
    font-size: 11rem;
  }
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-title .hero-content-title-first {
  margin-bottom: -4rem;
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-subtitle {
  width: 100%;
  display: none;
  padding: 0 2rem;
  color: #262525;
  text-align: right;
  letter-spacing: 0.6rem;
}
@media only screen and (min-width: 1024px) {
  .hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-subtitle {
    display: inline-block;
  }
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-subtitle .hero-content-subtitle-first {
  font-size: 4rem;
  margin-bottom: -2rem;
}
.hero-content-container .hero-content-info .hero-content-info-names .hero-content-info-names-subtitle .hero-content-subtitle-last {
  font-size: 15rem;
  -webkit-text-stroke: 0.25rem #262525;
  -webkit-text-fill-color: transparent;
}
.hero-content-container .hero-content-info .hero-content-info-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.hero-content-container .hero-content-scroll {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box {
  width: 20rem;
  height: 5rem;
  border: 0.1rem solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  overflow: hidden;
}
.button-box:hover {
  background-color: rgb(255, 255, 255);
}
.button-box .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0.2rem 0.3rem #262525;
}
.button-box .buttons:hover {
  color: rgb(5, 5, 5);
}

.projects-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.projects-container .projects-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  .projects-container .projects-wrapper {
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
  }
}
.projects-container .projects-wrapper .projects-boxes {
  width: 28rem;
  height: 22rem;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  position: relative;
  cursor: pointer;
  box-shadow: 0rem -1rem 3rem 2rem rgb(5, 5, 5);
}
.projects-container .projects-wrapper .projects-boxes:not(:last-child) {
  margin-bottom: -15rem;
}
@media only screen and (min-width: 1024px) {
  .projects-container .projects-wrapper .projects-boxes:not(:last-child) {
    margin-bottom: 0;
    margin-right: -30rem;
  }
}
.projects-container .projects-wrapper .projects-boxes::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 0px solid cyan;
  border-top: 0px solid cyan;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.projects-container .projects-wrapper .projects-boxes::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 0px solid cyan;
  border-bottom: 0px solid cyan;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
@media only screen and (min-width: 768px) {
  .projects-container .projects-wrapper .projects-boxes {
    width: 40rem;
    height: 27rem;
  }
}
@media only screen and (min-width: 1024px) {
  .projects-container .projects-wrapper .projects-boxes {
    margin-bottom: 0;
    box-shadow: -2rem 0rem 2rem rgb(5, 5, 5);
  }
}
@media only screen and (min-width: 1920px) {
  .projects-container .projects-wrapper .projects-boxes {
    width: 45rem;
    height: 32rem;
  }
}
@media only screen and (min-width: 2560px) {
  .projects-container .projects-wrapper .projects-boxes {
    width: 55rem;
    height: 42rem;
  }
}
.projects-container .projects-wrapper .projects-boxes:nth-child(1) {
  z-index: 1;
}
.projects-container .projects-wrapper .projects-boxes:nth-child(2) {
  z-index: 2;
}
.projects-container .projects-wrapper .projects-boxes:nth-child(3) {
  z-index: 3;
}
.projects-container .projects-wrapper .projects-boxes:nth-child(4) {
  z-index: 4;
}
.projects-container .projects-wrapper .projects-boxes:nth-child(5) {
  z-index: 5;
}
.projects-container .projects-wrapper .projects-boxes .projects-boxes-imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.projects-container .projects-wrapper .projects-boxes:hover {
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  animation: delayedGlow 900ms linear 400ms infinite;
  -webkit-animation: delayedGlow 900ms linear 400ms infinite;
}
@media only screen and (min-width: 1024px) {
  .projects-container .projects-wrapper .projects-boxes:hover {
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }
}
.projects-container .projects-wrapper .projects-boxes:hover::before {
  width: 100%;
  height: 100%;
  border-left: 1px solid cyan;
  border-top: 1px solid cyan;
}
.projects-container .projects-wrapper .projects-boxes:hover::after {
  width: 100%;
  height: 100%;
  border-right: 1px solid cyan;
  border-bottom: 1px solid cyan;
}

@keyframes delayedGlow {
  from {
    box-shadow: 0rem 0rem 2rem 0.5rem cyan;
  }
  to {
    box-shadow: 0rem 0rem 0rem 0rem transparent;
  }
}
.about-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.about-container .bg-gradient-color-box {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}
@media only screen and (min-width: 1024px) {
  .about-container .bg-gradient-color-box {
    display: block;
  }
}
.about-container .bg-gradient-color-box .bg-gradient-color {
  width: 100%;
  height: 100%;
  width: 70rem;
  height: 70rem;
  position: absolute;
  bottom: -70%;
  right: -70%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgb(2, 201, 227) 42%, rgb(247, 5, 126) 56%, rgba(0, 212, 255, 0) 100%);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  animation: moveGradientColors 2000ms linear infinite;
  -webkit-animation: moveGradientColors 2000ms linear infinite;
}
.about-container .bg-gradient-color-box .bg-box-pattern {
  width: 110%;
  height: 110%;
  position: absolute;
  bottom: -1%;
  right: 0;
}
.about-container .bg-gradient-color-box .bg-box-pattern img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-container .about-wrapper {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.about-container .about-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: rgb(5, 5, 5);
  opacity: 0.7;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .about-container .about-wrapper {
    width: 60rem;
    height: 70%;
  }
}
@media only screen and (min-width: 1920px) {
  .about-container .about-wrapper {
    width: 80rem;
    height: 60%;
  }
}
.about-container .about-wrapper .name-title {
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  text-align: left;
  font-size: 2rem;
  border: 0.1rem solid rgb(255, 255, 255);
}
@media only screen and (min-width: 768px) {
  .about-container .about-wrapper .name-title {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1920px) {
  .about-container .about-wrapper .name-title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 3440px) {
  .about-container .about-wrapper .name-title {
    font-size: 4rem;
  }
}
.about-container .about-wrapper .name-title h4 {
  font-weight: 400;
}
.about-container .about-wrapper .about-content {
  padding: 2rem 4rem;
  font-size: 1.4rem;
  text-transform: initial;
  text-align: justify;
  text-indent: 2rem;
  line-height: 2.5rem;
}
@media only screen and (min-width: 1920px) {
  .about-container .about-wrapper .about-content {
    padding: 2rem 8rem;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 3440px) {
  .about-container .about-wrapper .about-content {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@keyframes moveGradientColors {
  from {
    position: absolute;
    bottom: -70%;
    right: -70%;
  }
  to {
    bottom: 100%;
    right: 100%;
  }
}
.contact-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.contact-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #050505, rgba(5, 5, 5, 0.7176470588));
  z-index: -1;
}
.contact-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.contact-container .contact-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}
.contact-container .contact-wrapper .contact-title {
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  word-spacing: 1rem;
  border: 0.1rem solid rgb(255, 255, 255);
}
@media only screen and (min-width: 1920px) {
  .contact-container .contact-wrapper .contact-title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .contact-container .contact-wrapper .contact-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.contact-container .contact-wrapper .contact-box {
  width: 80%;
  max-width: 75rem;
  height: 70%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .contact-container .contact-wrapper .contact-box {
    width: 60%;
  }
}
@media only screen and (min-width: 2560px) {
  .contact-container .contact-wrapper .contact-box {
    height: 60%;
  }
}
.contact-container .contact-wrapper .contact-box form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-container .contact-wrapper .contact-box form .user-box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-container .contact-wrapper .contact-box form .user-box:not(:nth-child(3)) {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 1280px) {
  .contact-container .contact-wrapper .contact-box form .user-box {
    width: 80%;
  }
}
.contact-container .contact-wrapper .contact-box form .user-box label {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: left;
  letter-spacing: 0.25rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 1920px) {
  .contact-container .contact-wrapper .contact-box form .user-box label {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
}
.contact-container .contact-wrapper .contact-box form .user-box input {
  width: 100%;
  height: 4rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
@media only screen and (min-width: 1920px) {
  .contact-container .contact-wrapper .contact-box form .user-box input {
    height: 6rem;
    font-size: 2rem;
  }
}
.contact-container .contact-wrapper .contact-box form .user-box .no-outline:focus {
  outline: transparent;
  border: 0.5px solid cyan;
}
.contact-container .contact-wrapper .contact-box form .user-box textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
@media only screen and (min-width: 1920px) {
  .contact-container .contact-wrapper .contact-box form .user-box textarea {
    height: 20rem;
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 3840px) {
  .contact-container .contact-wrapper .contact-box form .user-box textarea {
    height: 30rem;
  }
}
.contact-container .contact-wrapper .contact-box form .btn-arrow-box {
  width: 90%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (min-width: 1280px) {
  .contact-container .contact-wrapper .contact-box form .btn-arrow-box {
    width: 80%;
  }
}
.contact-container .contact-wrapper .contact-box form .btn-arrow-box .arrow-contact {
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  cursor: pointer;
}
.contact-container .contact-wrapper .contact-box form .btn-arrow-box .arrow-contact:hover {
  background-color: #5c5858;
}

section {
  width: 100%;
  height: 100vh;
}

.tech-container {
  width: 100%;
  height: 100%;
  border: 0.5px dotted magenta;
}

.arrow {
  width: 5rem;
  height: 9.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(255, 255, 255);
}
.arrow img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.arrow-horizontal {
  width: 9.3rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(255, 255, 255);
}
.arrow-horizontal img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

/*# sourceMappingURL=styles.css.map */
