.hero-header {
  width: 100vw;
  height: 1rem;
  margin: 0 auto;
  position: relative;
  position: fixed;
  z-index: 95;
  //   overflow: hidden;

  @include desktop {
    & {
      height: 8rem;
      left: 50%;
      @include transformX;
    }
  }

  @include desktopFullHD {
    & {
      height: 12rem;
    }
  }

  @include desktopQuadHD {
    & {
      height: 16rem;
    }
  }

  .hero-nav {
    width: 100vw;
    height: 100vh;
    @include absol-topLeftZero;
    @include transit4;
    background-color: #1a1919e5;
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    // border: 1px solid red;

    @include desktop {
      & {
        background-color: transparent;
        @include keep-it-hundo;
        left: 50%;
        transform: translateY(0vh) translateX(-50%);
        -webkit-transform: translateY(0vh) translateX(-50%);
        -moz-transform: translateY(0vh) translateX(-50%);
        -ms-transform: translateY(0vh) translateX(-50%);
        -o-transform: translateY(0vh) translateX(-50%);
      }
    }

    .hero-nav-ul {
      @include keep-it-hundo;
      @include flex-center-col;
      margin: 0 auto;
      // border: 1px solid green;

      @include desktop {
        & {
          width: 120rem;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 3rem;
        }
      }

      @include desktopFullHD {
        & {
          width: 160rem;
          padding-right: 0;
        }
      }

      @include desktopQuadHD {
        & {
          width: 200rem;
        }
      }
    }

    .hero-nav-li {
      list-style-type: none;
      @include transit4;

      &:not(:last-child) {
        margin-bottom: 5rem;

        @include tabletPortrait {
          & {
            margin-bottom: 5rem;
          }
        }

        @include desktop {
          & {
            margin-bottom: 0;
            margin-right: 2rem;
          }
        }

        @include desktopFullHD {
          & {
            margin-bottom: 0;
            margin-right: 5rem;
          }
        }

        @include desktopQuadHD {
          & {
            margin-right: 8rem;
          }
        }
      }

      .hero-nav-links {
        @include keep-it-hundo;
        padding: 1.5rem 2rem;
        text-decoration: none;
        color: $color-lite;
        font-size: 2.2rem;
        letter-spacing: 0.5rem;
        @include transit4;
        border: 1px solid transparent;

        @include desktop {
          & {
            font-size: 1.25rem;
          }
        }

        @include desktopFullHD {
          & {
            font-size: 1.75rem;
          }
        }

        @include desktopQuadHD {
          & {
            font-size: 2rem;
            padding: 2rem 2.5rem;
          }
        }

        &:hover {
          border: 0.1rem solid $color-lite;
        }
      }
    }
  }

  .navBackground {
    background-color: #05050594;
  }

  .showNav {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
