.hero-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // border: 1px solid green;

  &::after {
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 50%;
    @include transformX;
    background: url(../public/images/WireFrameDesignRotated.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;

    @include tabletLandscape {
      & {
        width: 160%;
        height: 160%;
        left: 55%;
      }
    }

    @include desktopFullHD {
      & {
        width: 140%;
        height: 140%;
        left: 65%;
      }
    }

    @include desktopUltraWide {
      & {
        width: 130%;
        height: 130%;
      }
    }

    @include desktopUHD {
      & {
        width: 140%;
        height: 140%;
        left: 65%;
      }
    }
  }
}
