.hero-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  .hero-content-info {
    width: 100%;
    max-width: 140rem;
    height: 50%;
    margin-bottom: 5rem;
    @include flex-center-col;
    // border: 1px solid blue;

    @include tabletPortrait {
      & {
        height: 40%;
        margin-bottom: 12rem;
      }
    }

    .hero-content-info-names {
      @include keep-it-hundo;
      position: relative;
      @include flex-center-col;
      font-family: $secondary-font;
      // border: 1px solid green;

      .hero-content-subtitle-mobile {
        width: 100%;
        padding: 0 2rem;
        font-size: 3rem;
        color: $color-gray;
        letter-spacing: 0.5rem;
        -webkit-text-stroke: 0.15rem $color-gray;
        -webkit-text-fill-color: transparent;
        text-align: center;

        @include tabletPortrait {
          & {
            text-align: center;
            font-size: 4rem;
          }
        }

        @include tabletLandscape {
          & {
            display: none;
          }
        }
      }

      .hero-content-info-names-title {
        width: 100%;
        padding-left: 2.5rem;
        text-align: left;
        font-size: 9rem;
        z-index: 2;
        @include text-shadowgray;

        @include tabletPortrait {
          & {
            width: auto;
            font-size: 11rem;
          }
        }

        .hero-content-title-first {
          margin-bottom: -4rem;
        }
      }

      .hero-content-info-names-subtitle {
        width: 100%;
        display: none;
        padding: 0 2rem;
        color: $color-gray;
        text-align: right;
        letter-spacing: 0.6rem;

        @include tabletLandscape {
          & {
            display: inline-block;
            // border: 1px solid red;
          }
        }

        .hero-content-subtitle-first {
          font-size: 4rem;
          margin-bottom: -2rem;
        }

        .hero-content-subtitle-last {
          font-size: 15rem;
          -webkit-text-stroke: 0.25rem $color-gray;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .hero-content-info-btn {
      width: 100%;
      @include flex-center;
      z-index: 5;
      // border: 1px solid red;
    }
  }

  .hero-content-scroll {
    width: 100%;
    height: 25%;
    @include flex-center;
  }
}
