.about-container {
  @include keep-it-hundo;
  position: relative;

  .bg-gradient-color-box {
    display: none;
    @include keep-it-hundo;
    @include absol-topLeftZero;
    overflow: hidden;
    z-index: -2;

    @include tabletLandscape {
      display: block;
    }

    .bg-gradient-color {
      @include keep-it-hundo;
      width: 70rem;
      height: 70rem;
      position: absolute;
      bottom: -70%;
      right: -70%;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0) 0%,
        rgb(2, 201, 227) 42%,
        rgb(247, 5, 126) 56%,
        rgba(0, 212, 255, 0) 100%
      );
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      @include transit3;
      animation: moveGradientColors 2000ms linear infinite;
      -webkit-animation: moveGradientColors 2000ms linear infinite;
    }

    .bg-box-pattern {
      width: 110%;
      height: 110%;
      position: absolute;
      bottom: -1%;
      right: 0;

      img {
        @include keep-it-hundo;
        object-fit: cover;
      }
    }
  }

  .about-wrapper {
    width: 100%;
    height: 80%;
    @include absol-center;
    @include flex-center-col;
    position: relative;
    // border: 1px dotted $color-lite;

    &::after {
      content: "";
      @include keep-it-hundo;
      @include absol-center;
      background-color: $color-dark;
      opacity: 0.7;
      z-index: -1;
    }

    @include tabletPortrait {
      & {
        width: 60rem;
        height: 70%;
      }
    }

    @include desktopFullHD {
      & {
        width: 80rem;
        height: 60%;
      }
    }

    .name-title {
      margin-bottom: 2rem;
      padding: 1.5rem 2rem;
      text-align: left;
      font-size: 2rem;
      border: 0.1rem solid $color-lite;

      @include tabletPortrait {
        & {
          margin-bottom: 4rem;
        }
      }

      @include desktopFullHD {
        & {
          font-size: 3rem;
        }
      }

      @include desktopUltraWide {
        & {
          font-size: 4rem;
        }
      }

      h4 {
        font-weight: 400;
      }
    }

    .about-content {
      padding: 2rem 4rem;
      font-size: 1.4rem;
      text-transform: initial;
      text-align: justify;
      text-indent: 2rem;
      line-height: 2.5rem;

      @include desktopFullHD {
        & {
          padding: 2rem 8rem;
          font-size: 1.75rem;
        }
      }

      @include desktopUltraWide {
        & {
          font-size: 2.5rem;
          line-height: 3.5rem;
        }
      }
    }
  }
}

// KEYFRAMES FOR BG EFFECTS
@keyframes moveGradientColors {
  from {
    position: absolute;
    bottom: -70%;
    right: -70%;
  }

  to {
    bottom: 100%;
    right: 100%;
  }
}
