.projects-container {
  @include keep-it-hundo;
  position: relative;
  overflow: hidden;

  .bg-gradient-color-box {
    display: none;
    @include keep-it-hundo;
    @include absol-topLeftZero;
    overflow: hidden;
    z-index: -2;

    @include desktop {
      display: block;
    }

    .bg-gradient-color {
      @include keep-it-hundo;
      width: 70rem;
      height: 70rem;
      position: absolute;
      bottom: -70%;
      right: -70%;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0) 0%,
        rgb(16, 192, 16) 42%,
        rgb(3, 222, 230) 56%,
        rgba(0, 212, 255, 0) 100%
      );
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      @include transit3;
      // z-index: -5;
    }

    .bg-box-pattern {
      width: 110%;
      height: 110%;
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        @include keep-it-hundo;
        object-fit: cover;
      }
    }

    .moveGradientBG {
      animation: moveGradientColors 1000ms linear;
      -webkit-animation: moveGradientColors 1000ms linear;
    }
  }

  .projects-wrapper {
    @include keep-it-hundo;
    @include absol-center;
    @include flex-center-col;
    padding-top: 5rem;
    position: relative;
    // border: 1px solid red;

    @include tabletLandscape {
      & {
        padding-top: 0;
        flex-direction: row;
        justify-content: center;
      }
    }

    .projects-boxes {
      width: 28rem;
      height: 23rem;
      @include transit3;
      cursor: pointer;
      box-shadow: 0rem -1rem 3rem 2rem $color-dark;

      &:not(:last-child) {
        margin-bottom: -15rem;

        @include tabletLandscape {
          & {
            margin-bottom: 0;
            margin-right: -30rem;
          }
        }
      }

      @include tabletPortrait {
        & {
          width: 40rem;
          height: 27rem;
        }
      }

      @include tabletLandscape {
        & {
          margin-bottom: 0;
          box-shadow: -2rem 0rem 2rem $color-dark;
        }
      }

      &:nth-child(1) {
        z-index: 1;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        z-index: 3;
      }

      &:nth-child(4) {
        z-index: 4;
      }

      &:nth-child(5) {
        z-index: 5;
      }

      .projects-boxes-imgs {
        @include keep-it-hundo;
        object-fit: cover;
        @include transit3;
      }

      &:hover {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);

        @include tabletLandscape {
          & {
            transform: translateY(-30%);
            -webkit-transform: translateY(-30%);
            -moz-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            -o-transform: translateY(-30%);
          }
        }
      }
    }
  }
}

@keyframes moveGradientColors {
  from {
    position: absolute;
    bottom: -70%;
    right: -70%;
  }

  to {
    bottom: 100%;
    right: 100%;
  }
}
