.projects-container {
  @include keep-it-hundo;
  position: relative;
  overflow: hidden;
  background-color: $color-dark;

  // .bg-overlay {
  //   @include keep-it-hundo;
  //   @include absol-topLeftZero;
  //   position: relative;
  //   overflow: hidden;
  //   z-index: -2;

  //   .bg-overlay-image-box {
  //     @include keep-it-hundo;
  //     @include absol-topLeftZero;
  //     z-index: -1;

  //     img {
  //       @include keep-it-hundo;
  //       object-fit: cover;
  //     }
  //   }
  // }

  .projects-wrapper {
    @include keep-it-hundo;
    @include absol-topLeftZero;
    @include flex-center-col;
    position: relative;
    margin-top: 2rem;
    z-index: 5;

    @include tabletLandscape {
      & {
        padding-top: 0;
        flex-direction: row;
        justify-content: center;
      }
    }

    .projects-boxes {
      width: 28rem;
      height: 22rem;
      @include transit3;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      box-shadow: 0rem -1rem 3rem 2rem $color-dark;

      &:not(:last-child) {
        margin-bottom: -15rem;

        @include tabletLandscape {
          & {
            margin-bottom: 0;
            margin-right: -30rem;
          }
        }
      }

      &::before {
        content: "";
        width: 0;
        height: 0;
        @include absol-topLeftZero;
        border-left: 0px solid $color-cyan;
        border-top: 0px solid $color-cyan;
        @include transit4;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border-right: 0px solid $color-cyan;
        border-bottom: 0px solid $color-cyan;
        @include transit4;
      }

      @include tabletPortrait {
        & {
          width: 40rem;
          height: 27rem;
        }
      }

      @include tabletLandscape {
        & {
          margin-bottom: 0;
          box-shadow: -2rem 0rem 2rem $color-dark;
        }
      }

      @include desktopFullHD {
        & {
          width: 45rem;
          height: 32rem;
        }
      }

      @include desktopQuadHD {
        & {
          width: 55rem;
          height: 42rem;
        }
      }

      @include desktopUHD {
        & {
          width: 65rem;
          height: 50rem;
        }
      }

      &:nth-child(1) {
        z-index: 1;
      }

      &:nth-child(2) {
        z-index: 2;
      }

      &:nth-child(3) {
        z-index: 3;
      }

      &:nth-child(4) {
        z-index: 4;
      }

      &:nth-child(5) {
        z-index: 5;
      }

      .projects-boxes-imgs {
        @include keep-it-hundo;
        object-fit: cover;
        @include transit3;
      }

      &:hover {
        transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        -moz-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        -o-transform: translateY(-20%);
        animation: delayedGlow 800ms linear 400ms infinite;
        -webkit-animation: delayedGlow 800ms linear 400ms infinite;

        @include tabletLandscape {
          & {
            transform: translateY(-30%);
            -webkit-transform: translateY(-30%);
            -moz-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            -o-transform: translateY(-30%);
          }
        }
      }

      &:hover::before {
        @include keep-it-hundo;
        border-left: 1px solid $color-cyan;
        border-top: 1px solid $color-cyan;
      }

      &:hover::after {
        @include keep-it-hundo;
        border-right: 1px solid $color-cyan;
        border-bottom: 1px solid $color-cyan;
      }
    }
  }

  .project-bg-overlay {
    width: 100vw;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    @include transit3;
    z-index: 100;
    transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);

    &::after {
      content: "";
      @include keep-it-hundo;
      @include absol-topLeftZero;
      background-color: $color-dark;
      opacity: 0.8;
      z-index: -1;
    }

    .overlay-close {
      width: 6rem;
      height: 5rem;
      position: relative;
      position: absolute;
      top: 2%;
      right: 5%;
      @include transit3;
      z-index: 105;
      cursor: pointer;

      @include tabletLandscape {
        & {
          right: 3%;
        }
      }

      .top-line,
      .bottom-line {
        height: 0.2rem;
        width: 3.3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color-lite;
        @include transit4;
      }

      .top-line {
        transform: translate(-50%, -50%) rotate(-225deg);
        -webkit-transform: translate(-50%, -50%) rotate(-225deg);
        -moz-transform: translate(-50%, -50%) rotate(-225deg);
        -ms-transform: translate(-50%, -50%) rotate(-225deg);
        -o-transform: translate(-50%, -50%) rotate(-225deg);
      }

      .bottom-line {
        transform: translate(-50%, -50%) rotate(225deg);
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
        -moz-transform: translate(-50%, -50%) rotate(225deg);
        -ms-transform: translate(-50%, -50%) rotate(225deg);
        -o-transform: translate(-50%, -50%) rotate(225deg);
      }
    }
  }

  .moveRight {
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}

// JAVASCRIPT CLASS TRIGGER

// KEYFRAMES FOR ANIMATIONS

@keyframes delayedGlow {
  from {
    box-shadow: 0rem 0rem 2rem 0.5rem $color-cyan;
  }

  to {
    box-shadow: 0rem 0rem 0rem 0rem transparent;
  }
}
