.contact-container {
  @include keep-it-hundo;
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(to bottom, #050505, #050505b7);
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url(../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }

  .contact-wrapper {
    @include keep-it-hundo;
    @include flex-center;

    .contact-box {
      width: 80%;
      height: 80%;

      @include tabletPortrait {
        & {
          width: 60%;
        }
      }

      form {
        @include keep-it-hundo;
        @include flex-center-col;

        .user-box {
          width: 100%;
          @include flex-center-col;

          &:not(:nth-child(3)) {
            margin-bottom: 3rem;
          }

          label {
            width: 90%;
            margin-bottom: 0.25rem;
            text-align: left;
            letter-spacing: 0.25rem;
            font-size: 1.25rem;
          }

          input {
            width: 90%;
            height: 4rem;
            color: $color-lite;
            background-color: transparent;
            border: 1px solid $color-lite;
          }

          textarea {
            width: 90%;
            background-color: transparent;
            border: 1px solid $color-lite;
            color: $color-lite;
          }
        }

        .btn-arrow-box {
          width: 90%;
          height: 10rem;
          @include flex-center;
          justify-content: flex-end;

          .arrow-contact {
            @include transit4;
            cursor: pointer;

            &:hover {
              background-color: $color-gray-lite;
            }
          }
        }
      }
    }
  }
}
