.contact-container {
  @include keep-it-hundo;
  position: relative;

  &::before {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background: linear-gradient(to bottom, #050505, #050505b7);
    z-index: -1;
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-image: url(../public/images/prometheus-design-LS-Be4rUjFo-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }

  .contact-wrapper {
    @include keep-it-hundo;
    @include flex-center;

    .contact-box {
      width: 80%;
      max-width: 75rem;
      height: 80%;
      margin: 0 auto;

      @include tabletPortrait {
        & {
          width: 60%;
        }
      }

      form {
        @include keep-it-hundo;
        @include flex-center-col;

        .user-box {
          width: 90%;
          @include flex-center-col;

          &:not(:nth-child(3)) {
            margin-bottom: 3rem;
          }

          @include desktop {
            & {
              width: 80%;
            }
          }

          label {
            width: 100%;
            margin-bottom: 0.5rem;
            text-align: left;
            letter-spacing: 0.25rem;
            font-size: 1.25rem;

            @include desktopFullHD {
              & {
                margin-bottom: 1rem;
                font-size: 1.75rem;
              }
            }
          }

          input {
            width: 100%;
            height: 4rem;
            color: $color-lite;
            background-color: transparent;
            border: 1px solid $color-lite;

            @include desktopFullHD {
              & {
                height: 6rem;
                font-size: 2rem;
              }
            }
          }

          .no-outline:focus {
            outline: transparent;
            border: 0.5px solid $color-cyan;
          }

          textarea {
            width: 100%;
            background-color: transparent;
            border: 1px solid $color-lite;
            color: $color-lite;

            @include desktopFullHD {
              & {
                height: 20rem;
                font-size: 1.75rem;
              }
            }

            @include desktopUHD {
              & {
                height: 30rem;
              }
            }
          }
        }

        .btn-arrow-box {
          width: 90%;
          height: 10rem;
          @include flex-center;
          justify-content: flex-end;

          @include desktop {
            & {
              width: 80%;
            }
          }

          .arrow-contact {
            @include transit4;
            cursor: pointer;

            &:hover {
              background-color: $color-gray-lite;
            }
          }
        }
      }
    }
  }
}
