.button-box {
  width: 20rem;
  height: 5rem;
  border: 0.1rem solid $color-lite;
  @include flex-center;
  @include transit4;
  overflow: hidden;

  &:hover {
    background-color: $color-lite;
  }

  .buttons {
    @include keep-it-hundo;
    @include flex-center;
    @include transit4;
    text-decoration: none;
    color: $color-lite;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    @include text-shadowgray;

    &:hover {
      color: $color-dark;
    }
  }
}
